//  CIRRO CUSTOM SASS
// ----------------------------------------------------------------------------

.wrapper
	position: absolute
	height: 8000px

.background_one
	position: relative
	background: url(http://2.bp.blogspot.com/-PXxBJNWgPmg/UEsa8XGoeHI/AAAAAAAADO4/bUyHV2iWX8o/s400/Cute-Cat-Picture.jpg) no-repeat center center fixed
	-webkit-background-size: cover
	height: 400px
	width: 100%

.some_object
	position: relative
	z-index: 2
	margin: 500px 0px

.some_object
	width: 20px
	height: 20px
	background: black
	float: left

.space_wrap
	position: relative
	margin: 500px

.words_wrap
	font-size: 50px
	margin: 10px 20px	
	background: white
	color: black
	position: relative 

.first_words
	font-size: 50px
	margin: 400px 0
	text-align: center

#fly-it
	position: relative
	margin: 400px 0
	text-align: center

#spin-it
	text-align: right
	position: relative
	margin: 400px

#examples-pin
	position: relative
	width: 100%
	height: 600px
	overflow: hidden
	margin-bottom: -200px

.pin-frame
	position: absolute
	width: 100%
	height: 600px
	overlfow: hidden

.h2
	margin-top: 120px

#pin-frame-slide
	background: red
	margin-left: -100%
	z-index: 1

#pin-frame-wipe
	background: green
	top: 100%
	z-index: 2

#pin-frame-bounce
	background: yellow
	position: relative
	z-index: 3

#pin-frame-color
	background: yellow
	z-index: 4

#pin-frame-unpin
	top: 100%

#pin-it
	margin: 400px

#upside_down
	font-size: 42px
	text-align: right
	position: relative
	margin: 0 -200px

#scale-it
	position: relative
	width: 500%
	margin: 400px 0

#smush-it
	position: relative
	margin: 400px 0


// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------

//  General Classes
// ----------------------------------------------------------------------------

.fixed
	position: fixed

.center
	margin: 0 auto
	
.text-right
	text-align: right

.text-left
	text-align: left

.text-center
	text-align: center

.clearfix
	overflow: hidden

.underline
	border-bottom: $underlineStyle black
	padding: 0 0 10px 0

.loading-gif
	height: 100%
	width: 100%
	background: url(../images/loading.gif) no-repeat center 100px
	position: absolute
	top: 0
	left: 0
	z-index: 9000

.btn-load-wrap
	display: inline-block
	position: relative

.loading-gif-element
	height: 30px
	width: 30px
	background: url(../images/loading.gif) no-repeat center center
	position: absolute
	right: -45px
	top: 6px
	z-index: 9000
	display: none
	.medium
		height: 20px
		width: 20px
		background: url(../images/loading_medium.gif) no-repeat center center
	.small
		height: 10px
		width: 10px
		background: url(../images/loading_small.gif) no-repeat center center


//  Drupal Overrides
// ----------------------------------------------------------------------------

// Dont show toolbar when logged in
// body.toolbar
// 	padding-top: 0 !important

.page-user
	.form-item .description,
	label
		display: none
	.container
		margin-top: 20%
	#forgot
		font-size: 12px
		font-weight: 300

.element-invisible
	display: none
		
		
		
//  Purrrdy Stuff
// ----------------------------------------------------------------------------

#header 
	.container
		margin: 30px auto
		padding: 0
	#main-menu 
		float: right
		ul
			margin: 0
			li
				display: inline
				margin-left: 15px

